// Specific CSS for your home-page


.container-flexed {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0px 0px 29px
}

.btns > * {
  margin:0 20px;
}
