<h1>MES BOOKINGS</h1>
<% @bookings.each do |booking| %>
<p><%= booking.date_resa %> <%= booking.total_resa %>$ <%= booking.profesionnel.name %></p>
<% end %>
<%= link_to "retour a l'index", profesionnels_path, class: "btn btn-primary"  %>
