<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Trouve ton <strong> coach</strong> partout <strong>quand tu veu </strong>!</h1>
    <p>Sport is life</p>
    <%= link_to "Voir la liste des coachs", profesionnels_path, class: "btn btn-flat"  %>
  </div>
</div>

